body {
    background-color: lightgrey;
    text-align: center;
}

#startGame {
    height: 200px;
    width: 400px;
    position: relative;
    top: 300px;
    font-size: 72px;
    border-radius: 30%;
}
#buttons {
    visibility: hidden;
}

.gameButtons {
    height: 200px;
    width: 200px;
    border-width: 0;
    border-style: none;
    background-color: transparent;
}
.icons {
    height: 180px;
}
#playAgain {
    visibility: hidden;
    height: 200px;
    width: 400px;
    font-size: 72px;
    position: relative;
    top: -153px;
    border-radius: 30%;
}

